#centered-div {
  display: flex;
  flex-direction: column;
  margin-right: 15%;
  margin-left: 15%;
}

h2 {
  margin-top: 5%;
  margin-bottom: 50px;
}
h3, p {
  margin-bottom: 20px;
}
ul {
  list-style-type: none;
}

h5 {
  font-size: 20px;
  font-weight: bold;
  color: #0A369D;
  font-family: Inter, sans-serif;
}

img {
  margin-bottom: 10px;
}

.informations {
  display:flex;
  justify-content: space-evenly;
}


#modif{
  background-color: #0A369D !important;
  color:white !important;
  margin-right: 10px;
  border-radius: 18px; !important;
}

#suppr{
  background-color: red !important;
  color:white !important;
  border-radius: 18px; !important;
  border-color: red;
}

#consult{
  background-color: #0A369D !important;
  color:white !important;
  border-radius: 18px; !important;
}

#buttons{
  align-self: flex-start;
  margin-left: auto;
  margin-top: 5%;
}
