.list{
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-auto-rows: 250px;
  list-style-type: none;
}
.container {
  margin-top: 5%;
  align-self: center;
  min-width: 80%;
}
html {
  width:100%;
}
h2{
  margin-bottom: 50px;
}

#creer {
  background-color: #0A369D ;
  color:white ;
  border-radius: 18px;
}

#buttons{
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  margin-left: auto;
  margin-top: 5%;
  margin-bottom: 50px;
}

input {
  border-radius: 18px;
  width: 20%;
  background-image: url("../../assets/images/Search.svg");
  background-repeat: no-repeat;
  background-position: right;
}

#error {
  color: red;
}

#cherche{
  line-height: 1; /* Set line-height to 1 or adjust as needed */
  border: 4px solid;
  box-sizing: border-box;
  border-radius: 18px;
  border-color: #0A369D !important;
  vertical-align: middle;
}
