<app-nav></app-nav>
<div class = "main">
  <div class = "wrapper">
    <h1>CHANGER MES INFORMATIONS</h1>
    <form [formGroup]="profile" id="form" (submit) = "submit($event)">
      <div class = "form-group">
        <div class="form-infos">
          <label for="nom">Nom</label>
          <input formControlName="lastname" type="text" id="nom" class="form-control" aria-describedby="emailHelp" placeholder="Doe">
        </div>
        <div class="form-infos">
          <label for="prenom">Prénom</label>
          <input formControlName="firstname" type="text" id = "prenom" class="form-control"  placeholder="John">
        </div>
      </div>
      <div class = "form-group">
        <div class="form-infos">
          <label for="age">Âge</label>
          <input formControlName="age" type="text" id = "age" class="form-control"  placeholder="18">
        </div>
        <div class="form-infos">
          <label for="email">Adresse email</label>
          <input formControlName="email" type="email" id = "email" class="form-control"  placeholder="john.doe@example.com">
        </div>
      </div>
      <div class="row justify-content-center mt-4">
        <button class="btn btn-primary">Confirmer</button>
      </div>
    </form>
  </div>
</div>
<app-footer></app-footer>
