.main {
  margin-top: 5%;
}
#form {
  margin-top: 5%;
  width:40%;
  margin-left: 30%;
  margin-bottom: 5%;
}
.form-group {
  display:flex;
  justify-content: space-between;
}

input {
  width: auto;
}

button {
  color:white;
  background-color: #0A369D;
  border-radius: 18px;
}
