<div class = "main">
  <div class = "wrapper">
    <h1>CHANGER MES INFORMATIONS</h1>
    <div id="form">
      <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" id="nom" class="form-control" aria-describedby="emailHelp" placeholder="Doe">
      </div>
      <div class="form-group">
        <label for="prenom">Prénom</label>
        <input type="text" id = "prenom" class="form-control"  placeholder="John">
      </div>
      <div class="form-group">
        <label for="age">Âge</label>
        <input type="text" id = "age" class="form-control"  placeholder="18">
      </div>
      <div class="form-group">
        <label for="email">Adresse email</label>
        <input type="email" id = "email" class="form-control"  placeholder="john.doe@example.com">
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <button (click)="validate()" class="btn btn-primary">Confirmer</button>
    </div>
  </div>
</div>

