.list{
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-auto-rows: 250px;
  list-style-type: none;
}
.container {
  margin-top: 5%;
  align-self: center;
  min-width: 80%;
}

h2{
  margin-bottom: 50px;
}

#creer {
  background-color: #0A369D ;
  color:white ;
  border-radius: 18px;
}

#buttons{
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  margin-left: auto;
  margin-top: 5%;
  margin-bottom: 50px;
}

input {
  border-radius: 18px;
  width: 20%;
}
