.main {
  height: 100%;
  width: 100%;
  display: table;
}
.wrapper {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

#form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-group{
  width: 20%;
  margin: auto;
}


