<div class = "main">
  <div class = "wrapper">
    <h1>SE CONNECTER</h1>
    <p>Bienvenue sur Asso' Rennes, le service public recensant les associations dans Rennes. <br> Pour accéder au site Internet, veuillez-vous connecter. Si vous n’avez pas encore de compte, cliquez sur Inscription.</p>
    <div id="form">
      <div class="form-group">
        <label for="email">Adresse e-mail*</label>
        <input type="email" id="email" class="form-control" aria-describedby="emailHelp" placeholder="john.doe@example.com">
      </div>
      <div class="form-group">
        <label for="password">Mot de passe*</label>
        <input type="password" id = "password" class="form-control"  placeholder="monmotdepasse">
      </div>
    </div>
    <div class = "boutons">
      <div class="row justify-content-center mt-4">
        <a (click)="login()" class="btn btn-primary" id ="btn left">Connexion</a>
      </div>
      <div class="row justify-content-center mt-4">
        <a [routerLink]="['/register']" routerLinkActive = "active" class="btn btn-primary" id ="btn right">Inscription</a>
      </div>
    </div>
  </div>
</div>
