.main {
  height: 100%;
  width: 100%;
  display: table;
}
.wrapper {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

#form {
  display: flex;
  flex-direction: row;
  margin-right: 25%;
  margin-left: 25%;
}

.form-group{
  width: 40%;
  margin: auto;
}

a {
  background-color: #0A369D;
  color: white;
  border-radius: 18px;
  margin-right: 25%;
  margin-left: 25%;
}

.boutons {
  margin-top: 2.5%;
  display:flex;
  justify-content: center;
}

h1,p {
  margin-bottom: 50px;
}

.oval-button {
  font-size: 20px !important;
  padding: 20px 100px;
  line-height: 0.1; /* Ajustez la line-height pour aligner le texte au centre */
  border-radius: 18px;
}

#left {
margin-right: 2.5%
}

#right {
  margin-left: 2.5%;
  line-height: 0.1; /* Set line-height to 1 or adjust as needed */
  background-color: white !important;
  color:#0A369D ;
  border: 4px solid;
  box-sizing: border-box;
  border-radius: 18px;
  border-color: #0A369D !important;
  vertical-align: middle;
}

.erreur p {
  color: red;
  text-align: center;
  margin-bottom: 0;
  margin-top: 10px;
}
