<nav class = "navbar">
  <div>
    <ul class="menu">
      <li>
        <a [routerLink]="['/associations']" routerLinkActive = "active"> Associations <span class="sr-only"></span></a>
      </li>
      <li>
        <a [routerLink]="['/users']" routerLinkActive = "active"> Utilisateurs <span class="sr-only"></span></a>
      </li>
    </ul>
    <div id = "logout" *ngIf="isLogged">
      <a (click)="logout()"><button>Se déconnecter</button></a>
    </div>
    <div id = "account">
      <a [routerLink]="['/account']" routerLinkActive="active">
      <img src="assets/images/Utilisateur.png" id="image_nav" alt="" >
      </a>
    </div>
  </div>
</nav>
