header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
}

#bar{
  width: 90%;
  height: 100%;
}

nav{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu1 a {
  color: #0A369D;
  margin-right: 40px;
  font-size: 18px;
}

.menu2 a {
  color: #0A369D;
  margin-left: 40px;
  font-size: 18px;
}

#line{
  background-color: #0A369D;
  width: 100%;
  height: 2px;
  margin: 0 0 5% 0
}

#logo{
  height: 17%;
  width: 17%;
}

#logo2{
  height: 10%;
  width: 10%;
  margin-left: 10px;
  margin-bottom: 20px;
}

#account{
  font-weight: bold;
}
