<header>
  <div id ="bar">
  <nav>
    <div class = "menu1">
        <a class = "logo">logo</a>
        <a [routerLink]="['/associations']" routerLinkActive = "active"> Associations <span class="sr-only"></span></a>
        <a [routerLink]="['/users']" routerLinkActive = "active"> Utilisateurs <span class="sr-only"></span></a>
    </div>
    <div class = "menu2">
        <a id = "logout" *ngIf="isLogged" (click)="logout()">Se déconnecter</a>
        <a id = "account" [routerLink]="['/account']" routerLinkActive="active">Mon compte</a>
    </div>
  </nav>
    <hr id = "line">
  </div>

</header>
