<app-nav></app-nav>
<div class = "main">
  <div class = "wrapper">
    <h1>MODIFIER L'ASSOCIATION</h1>
    <div id="form">
      <div class = "form-group">
        <div class="form-infos">
          <label for="nom">Nom</label>
          <input type="text" id="nom" class="form-control" aria-describedby="emailHelp" placeholder="SuperAssociation">
        </div>
        <div class="form-infos">
          <label for="description">Description</label>
          <textarea id = "description" class="form-control" rows="3" placeholder="blablabla"></textarea>
        </div>
        <div class = "info">
          <img src = "assets/images/Utilisateur.png">
          <h5>Membres</h5>
          <ul class = "list">
            <li *ngFor = "let member of members">
              <!--<p>{{member.firstname}} {{member.lastname | uppercase}}</p> -->
              {{ member.firstname + " "}}{{member.lastname | uppercase}}
              <span class="delete-icon" (click)="deleteMember(member)"> <!-- Ajoutez ici la méthode de suppression -->
                <mat-icon>delete</mat-icon>
              </span>
            </li>
          </ul>
        </div>
        <div>
        <select (change)="addMember($event)">
          <option *ngFor="let user of users" [value]= user>
            {{ user.firstname + " "}}{{user.lastname | uppercase}}
          </option>
        </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <button (click)="validate()" class="btn btn-primary">Confirmer</button>
  </div>
</div>
<app-footer></app-footer>
