h3 {
  color: #0A369D;
  font-weight: bold;
  text-align: center;
  font-size: x-large;
}
.container {
  text-align: center;
}
mat-card {
  border: 3px solid #0A369D;
  padding: 0;
  border-radius: 30px;
  width: 300px; /* Définissez la largeur souhaitée pour la carte */
  height: 200px; /* Définissez la hauteur souhaitée pour la carte */
}

mat-card-content {
  height: 100%; /* Utilisez la hauteur à 100% pour remplir toute la hauteur de la carte */
  /* Autres styles pour le contenu de la carte */
}

.container button {
  border-radius: 18px;
}

