/* You can add global styles to this file, and also import other style files */

html, body { height: 100%}
body { margin: 0; width:auto; font-family: Roboto, "Helvetica Neue", sans-serif;}

h1, p {
  color: #0A369D;
  text-align:center;
}
h1 {
  font-size: xxx-large !important;
  font-weight: bold !important;
}
button {
  background-color: #0A369D;
  color:white;
}


