.main {
  height: 80%;
  width: 100%;
  display: table;
}
.wrapper {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

#btn\ left {
  margin-right: 10%;
}
#btn\ right {
  margin-left: 10%;
}
h1,h3 {
  margin-bottom: 50px;
}
button {
  border-radius: 18px;
}
