h2, h3, p {
  margin-bottom: 50px;
}

.container {
  margin-top: 5%;
}

.informations {
  display: flex;
  justify-content: space-evenly;
}
.detail-info {
  text-align: center;
  align-items: center;
}

img {
  margin-bottom: 20px;
}

a {
  color:white;
  background-color: #0A369D;
  border-radius: 18px;
}

.header {
  display: flex;
  flex-direction: row;
}

#delete\ btn {
  height: 40px;
  background-color: red;
  border-color: red;
}
