h2, h3, p {
  margin-bottom: 50px;
}

#centered-div {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
  margin-left: 10%;
}

.informations {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 5%;
}

.detail-info {
  text-align: center;
}

img {
  margin-bottom: 20px;
}

a {
  color:white;
  background-color: #0A369D;
  border-radius: 18px;
}

#delete\ btn {
  height: 40px;
  background-color: red;
  border-color: red;
}

#button{
  align-self: flex-start;
  margin-left: auto;
  margin-top: 5%;
}

.buttons{
  display: flex;
  justify-content: space-evenly;
}
