h2, h3, p {
  margin-bottom: 50px;
}

.container {
  margin-top: 5%;
}

.informations {
  display: flex;
  justify-content: space-evenly;
}
.detail-info {
  text-align: center;
  align-items: center;
}

img {
  margin-bottom: 20px;
}
