.main {
  height: 100%;
  width: 100%;
  display: table;
}
.wrapper {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

#form {
  display: flex;
  flex-direction: column;
  margin-right: 25%;
  margin-left: 25%;
}

.form-group{
  width: 40%;
  margin: auto;
}

h1 {
  margin-bottom: 50px;
}

#erreur {
  color: red;
}

