.main {
  height: 100%;
  width: 100%;
  display: table;
}
.wrapper {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

#form {
  display: flex;
  flex-direction: column;
  margin-right: 25%;
  margin-left: 25%;
}

.form-group{
  width: 40%;
  margin: auto;
}

h1 {
  margin-bottom: 50px;
}

#erreur {
  display: flex;
  flex-direction : row;
  text-align: center;
}
#erreur p{
  color: red;
}

a {
  background-color: #0A369D;
  color: white;
  border-radius: 18px;
}

